@use "sass:map";

$colors_vars: (
  main: '145, 71, 255',
  main-light: '146, 113, 207',
  dark-main: '60, 39, 100',
  secondary: '50, 42, 38',
  none: '154, 154, 170',
  common: '93, 175, 119',
  rare: '57, 105, 182',
  epic: '122, 68, 177',
  legendary: '252, 144, 90',
  dark-grey: '53, 53, 53',
  light-grey: '224, 224, 224',
  warning: '251, 172, 25',
  success: '88, 212, 67',
  error: '226, 35, 43',
);

$colors: ();

@each $color, $vars in $colors_vars {
  $colors: map.set($colors, #{$color}, 'rgb(#{$vars})');
}

$light: (
  font: rgb(44, 62, 80),
  background: rgb(255, 255, 255),
  disabled: var(--light-grey-color),
  disabled-font: var(--dark-grey-color),
  button: var(--main-color),
);

$dark: (
  font: rgb(255, 255, 255),
  background: rgb(24, 24, 27),
  disabled: var(--dark-grey-color),
  disabled-font: var(--light-grey-color),
  button: var(--main-light-color),
);

$color-properties: (
  background: bg,
  color: c,
  border-color: bc,
);

$themes: (
  light: map.merge($light, $colors),
  dark: map.merge($dark, $colors),
);

@each $class, $theme-map in $themes {
  .#{$class} {
    @each $name, $value in $theme-map {
      --#{$name}-color : #{$value};
      @each $property, $prefix in $color-properties {
        .#{$prefix}-#{$name} {
          #{$property}: #{$value};
        }
      }
    }
  }
}

:root{
  @each $key, $value in $colors {
    --#{$key}-color : #{$value};
  }
}
