@import "@/assets/styles/colors.scss";
@import "@/assets/styles/mixins.scss";
@import "@/assets/styles/vars.scss";

@each $size, $value in $sizes {
  @each $direction, $shortcut in $directions {
    @each $prefix, $property in (
      m: 'margin',
      p: 'padding',
    ) {
      .#{$prefix}#{$shortcut}-#{$size} {
        @if $shortcut == 't' {
          #{$property}-top: $value;
        };
        @if $shortcut == 'r' {
          #{$property}-right: $value;
        };
        @if $shortcut == 'b' {
          #{$property}-bottom: $value;
        };
        @if $shortcut == 'l' {
          #{$property}-left: $value;
        };
        @if $shortcut == 'x' {
          #{$property}-left: $value;
          #{$property}-right: $value;
        };
        @if $shortcut == 'y' {
          #{$property}-top: $value;
          #{$property}-bottom: $value;
        };
        @if $shortcut == 'a' {
          #{$property}-left: $value;
          #{$property}-right: $value;
          #{$property}-top: $value;
          #{$property}-bottom: $value;
        };
      }
    }
  }
}

@each $prefix, $property in (
  h: 'height',
  w: 'width',
) {
  @each $size, $value in (
    0p: 0%,
    50p: 50%,
    100p: 100%,
  ) {
    .#{$prefix}-#{$size} {
      #{$property}: $value;
    }
  }
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 50%;
}

@each $display_key, $dispaly_value in (
  ib: inline-block,
  i: inline,
  b: block,
) {
  .d-#{$display_key} {
    display: $dispaly_value;
  }
}

@each $position in ( absolute, relative ) {
  .#{$position} {
    position: $position;
  }
}

@each $text-align in ( left, right, center ) {
  .text-#{$text-align} {
    text-align: $text-align;
  }
}

@each $direction in ( row, column ) {
  .flex-#{$direction} {
    display: flex;
    flex-direction: $direction;
  }
  @each $align_items in ( start, end, center ) {
    @each $justify_content_key, $justify_content_value in (
      around: space-around,
      between: space-between,
      center: center,
    ) {
      .flex-#{$direction}-#{$align_items}-#{$justify_content_key} {
        display: flex;
        flex-direction: #{$direction};
        align-items: $align_items;
        justify-content: #{$justify_content_value};
      }
    }
  }
}
