// $tips-width = 424px

$sizes: (
  0: 0px,
  2: 2px,
  4: 4px,
  8: 8px,
  16: 16px,
  24: 24px,
  32: 32px,
  48: 48px,
  64: 64px,
);

$directions: (
  top: 't',
  right: 'r',
  bottom: 'b',
  left: 'l',
  horizontal: 'x',
  vertical: 'y',
  all: 'a',
);

// $min-widget-width = 320px
// $max-widget-width = 960px
// $min-widget-height = 504px
// $site-content-desktop-width = 768px
// $account-header-opacity-height = 32px

// $breakpoints = {
//   tablet: 768px,
//   desktop-sm: 1024px,
//   desktop-md: 1280px,
//   tips: 1280px,
//   desktop-lg: 1920px,
// }

// $queries = {
//   // device width based:
//   mobile: "(max-width: " + ($breakpoints.tablet - 1px) + ")",
//   tablet: "(min-width: " + $breakpoints.tablet + ") and (max-width: " + ($breakpoints.desktop-sm - 1px) + ")",
//   tablet-and-less: "(max-width: " + ($breakpoints.desktop-sm - 1px) + ")",
//   tablet-and-more: "(min-width: " + $breakpoints.tablet + ")",
//   desktop-sm: "(min-width: " + $breakpoints.desktop-sm + ") and (max-width: " + ($breakpoints.desktop-md - 1px) + ")",
//   desktop-sm-and-less: "(max-width: " + ($breakpoints.desktop-md - 1px) + ")",
//   desktop-sm-and-more: "(min-width: " + $breakpoints.desktop-sm + ")",
//   desktop-md: "(min-width: " + $breakpoints.desktop-md + ") and (max-width: " + ($breakpoints.desktop-lg - 1px) + ")",
//   desktop-md-and-less: "(max-width: " + ($breakpoints.desktop-lg - 1px) + ")",
//   desktop-md-and-more: "(min-width: " + $breakpoints.desktop-md + ")",
//   desktop-lg: "(min-width: " + $breakpoints.desktop-lg + ")",
//   // tips based
//   less-than-tips: "(max-width: " + ($breakpoints.tips - 1px) + ")",
//   more-than-tips: "(min-width: " + $breakpoints.tips + ")",
// }
