$sizes: (
  0: 0px,
  2: 2px,
  4: 4px,
  8: 8px,
  16: 16px,
  24: 24px,
  32: 32px,
  48: 48px,
  64: 64px,
  128: 128px,
);

$directions: (
  top: 't',
  right: 'r',
  bottom: 'b',
  left: 'l',
  horizontal: 'x',
  vertical: 'y',
  all: 'a',
);


$config-body-height: 400px;
$config-item-max-width: 200px;
$config-item-min-width: 48px;